.maps {
    width: 100vw; 
    height: 100vh;
    position: absolute;
    z-index: 1;
}
#map {
    height: 180px;
    z-index:0;
    position: absolute;

}
.popup {
    z-index: 2;
    background-color: rgb(16, 139, 0);
    color:aliceblue;
    border-radius: 5%;
    position: absolute;
    /* margin-top: 8vh; */
    margin-bottom: 5rem;
    margin-left: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pop2 {
    z-index: 2;
    position: absolute;
    text-align: center;
}
.btn {
    margin-top: .2rem;
    margin-bottom: 1rem;
}
.btn-group {
    margin-left: 2rem;
    margin-right: 2rem;
}
.btn2 {
    width: 10rem;
    z-index: 4;
    position: absolute;
    margin-top: 2vh;
    margin-left: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-group {
    align-items: center;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    
    width: 50px;
    height: 50px;
    background-image: radial-gradient(rgba(255,0,0,1) 5%, rgba(255,0,0,.5) 40%, rgba(255,0,0,0) 55%);

    }
    